<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
  <connectionStrings>
    <!-- Example connection to a SQL Server Database on localhost. -->
    <!-- <add name="ExampleConnectionString"
            connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
            providerName="System.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <!-- access these values via the property:
            System.Configuration.ConfigurationManager.AppSettings[key]
     -->
    <add key="connectorserver.port" value="8759" />
    <add key="connectorserver.usessl" value="false" />
    <add key="connectorserver.certificatestorename" value="ConnectorServerSSLCertificate" />
    <add key="connectorserver.ifaddress" value="0.0.0.0" />
    <add key="connectorserver.maxFacadeLifeTime" value="0" />
    <add key="connectorserver.key" value="lmA6bMfENJGlIDbfrVtklXFK32s=" />
    <!--
            Enable/Disable the logging proxy for all operations.
        -->
    <add key="logging.proxy" value="false"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="console" />
        <add name="file" />
      </listeners>
    </trace>
    <sources>
      <source name="ConnectorServer" switchName="switch1">
        <listeners>
          <remove name="Default" />
          <add name="file" />
        </listeners>
      </source>
      <source name="MyClass2" switchName="switch2">
        <listeners>
          <remove name="Default" />
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="switch1" value="Information"/>
      <add name="switch2" value="Warning"/>
    </switches>
    <sharedListeners>
      <add name="console"
           type="System.Diagnostics.ConsoleTraceListener">
      </add>
      <add name="file"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="connectorserver.log"
           traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
      </add>
    </sharedListeners>
  </system.diagnostics>

</configuration>
